<script src="{{'/assets/js/main.js' | relative_url}}"></script>
<footer class="bg-cinereous p-8">
    <div class="container mx-auto">
        <div class="flex flex-col md:flex-row md:space-x-5 md:space-y-0 space-y-7 justify-between items-center">
            <!-- First Column -->
            <div class="flex flex-col justify-center md:justify-end w-full md:w-1/3">
                <div>
                    <h1 class="text-3xl text-white text-center md:text-left lg:border-b-2 border-white">Useful Links</h1>
                </div>
                <div class="flex flex-col space-y-5 md:space-y-0 md:flex-row text-center md:text-left justify-between items-center">
                    <!-- Footer Navigation -->
                    <div class="flex flex-col">
                        <a href="{{'/#top' | relative_url}}" class="capitalize text-xl px-4 rounded-sm transition-all py-2 hover:bg-cinereous hover:text-white">Home</a>
                        <a href="{{'/#services' | relative_url}}" class="capitalize text-xl px-4 rounded-sm transition-all py-2 hover:bg-cinereous hover:text-white">Services</a>
                        <a href="{{'/#about' | relative_url}}" class="capitalize text-xl px-4 rounded-sm transition-all py-2 hover:bg-cinereous hover:text-white">About Us</a>
                        <a href="{{'/#contact' | relative_url}}" class="capitalize text-xl px-4 rounded-sm transition-all py-2 hover:bg-cinereous hover:text-white">Contact</a>
                    </div>
                    <!-- Social Icons -->
                    <div class="flex md:flex-col flex-row space-x-4 md:space-x-0 md:space-y-4 text-white text-3xl">
                        <i class="hover:text-darkPurple transition-all cursor-pointer fab fab fa-facebook-square"></i>
                        <i class="hover:text-darkPurple transition-all cursor-pointer fab fa-twitter"></i>
                        <i class="hover:text-darkPurple transition-all cursor-pointer fab fa-instagram"></i>
                        <i class="hover:text-darkPurple transition-all cursor-pointer fab fa-github"></i>
                    </div>
                </div>
            </div>
            <!-- Second Column -->
            <div class="flex flex-col md:flex-row md:justify-center justify-center space-y-5 md:space-y md:space-x-5 items-center md:w-1/3 w-full">
                <img src="{{'/assets/img/logo-only.svg' | relative_url}}" alt="" class="max-w-full w-56">
            </div>
            <!-- Third Column -->
            <div class="flex justify-center my-6 md:my-0 md:items-end text-white w-full md:w-1/3">
            <!-- Buttons -->
                <div class="flex flex-col space-y-3 mb-4 md:mb-0">
                    <button class="px-6 py-3 bg-darkPurple hover:bg-themeGreen transition-all rounded-md">GET A QUOTE</button>
                    <button class="px-6 py-3 bg-themeGreen transition-all rounded-md">SEND US AN EMAIL</button>
                </div>
            </div>
        </div>
        <!-- Copyright Section -->
        <div class="flex justify-center text-white">Copyright © 2022, All Rights Reserved</div>
    </div>
</footer>
